html, body {
  margin: 0;
  padding: 0;
  position: relative;
}

.body-bcg {
    background-image: url(images/background.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

/* Header */

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 600px;
  background-color: rgba(0, 0, 0, 0.4);
}

.header-panel {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.logo {
  display: flex;
  flex-direction: column;
  margin: 20px 50px 0 0;
}

.logo__header {
  color: #fff;
  font-family: Georgia;
  font-size: 28px;
  font-weight: 400;
  margin: 0;
}

.logo__description {
  position: absolute;
  color: #979797;
  font-family: Georgia;
  font-size: 11px;
  font-weight: 400;
  margin-top: 28px;
}

.main-nav {
  margin: 10px 0 0 50px;
}

.main-nav__ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
}

.main-nav__ul--li {
  margin: 0 20px;
}

.main-nav-links {
  text-decoration: none;
  color: #ffffff;
  font-family: "Georgia";
  font-size: 13px;
}

.selected {
  border-radius: 10px;
  background-color: #76c38f;
  box-sizing: border-box;
  padding: 9px 15px;
}

section.mySlides {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  width: 950px;
  height: 430px;
}

.slideshow-container__text-area section{
  display: flex;
  flex-direction: column;
}

.slideshow-container__text-area--header {
  color: #ffffff;
  font-family: "Georgia";
  font-size: 46px;
  font-weight: 400;
}

.slideshow-container__text-area--description {
  position: relative;
  bottom: 40px;
  color: #979797;
  font-family: "Georgia";
  font-size: 12px;
  font-weight: 400;
}

.slideshow-container__text-area--btn {
  position: relative;
  bottom: 40px;
  width: 140px;
  color: #fff;
  border: none;
  text-align: justify;
  font-family: "Georgia";
  font-size: 13px;
}

.slideshow-container__imgs {
  width: 430px;
  height: 430px;
  background-color: #6b6b6b;
  border: 26px solid #6b6b6b;
  border-radius: 50%;
}

.slideshow-left-arrow {
  background-color: transparent;
  border: none;
  width: 30px;
  height: 32px;
}

.slideshow-right-arrow {
  background-color: transparent;
  border: none;
  width: 30px;
  height: 32px;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
