.footer-field {
  display: flex;
  flex-direction: column;
  height: auto;
  width: auto;
}

.footer-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #303030;
}

.footer-bar__columns {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 10px;
}

.footer-bar__columns--header {
  text-align: left;
  margin: 40px 0 0 0;
  color: #fff;
  font-family: "Georgia";
  font-size: 16px;
  font-weight: 400;
}

.footer-bar__columns--text {
  position: relative;
  bottom: 18px;
  color: #979797;
  font-family: "Georgia";
  font-size: 13px;
  font-weight: 400;
  line-height: 20.8px;
  margin-top: 0;
}

.footer-bar__columns--title {
  color: #76c38f;
  font-family: "Georgia";
  font-size: 13px;
  font-weight: bold;
  margin: 33px 0 0 0;
}

.footer-bar__columns--userdata {
  position: relative;
  bottom: 5px;
  color: #666666;
  font-family: "Georgia";
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
}

.footer-bar__columns--username {
  color: #76c38e;
}

.footer-bar__columns--date {
  position: relative;
  bottom: 12px;
  color: #979797;
  font-family: "Georgia";
  font-size: 10px;
  font-weight: 400;
}

.footer-bar__columns-link {
  position: relative;
  bottom: 20px;
  text-decoration: none;
  color: #76c38f;
  font-family: "Georgia";
  font-size: 13px;
  font-weight: 400;
}

.footer-bar__columns--ul {
  margin-top: 28px;
  padding: 0;
  list-style-position: inside;
  list-style-image: url(../icons/list-style-type.png);
}

.footer-bar__columns--li {
  margin-top: 5px;
}

.footer-bar__columns-links {
  text-decoration: none;
  color: #76c38f;
  font-family: "Georgia";
  font-size: 13px;
  font-weight: 400;
}

.footer-bar__columns--li-hr {
  width: 225px;
  height: 1px;
  background-color: #404040;
  border: none;
}

.footer-bar__columns--tweets {
  color: #979797;
  font-family: "Georgia";
  font-size: 13px;
  font-weight: 400;
  line-height: 20.8px;
  margin-top: 30px;
  margin-bottom: 0;
}

.footer-bar__columns--contact-header {
  text-align: left;
  margin: 40px 0 34px 0;
  color: #fff;
  font-family: "Georgia";
  font-size: 16px;
  font-weight: 400;
}

.footer-bar__columns--contact-form {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.form-inputs {
  margin-bottom: 10px;
  width: 225px;
  height: 35px;
  background-color: #222222;
  box-sizing: border-box;
  padding-left: 10px;
  border: none;
  border-radius: 12px;
}

.form-message-input {
  margin-bottom: 10px;
  width: 225px;
  height: 80px;
  background-color: #222222;
  border: none;
  box-sizing: border-box;
  padding: 0 0 48px 10px;
  border-radius: 12px;
}

.form-submit {
  border: none;
  text-align: justify;
  background-color: #76c38f;
  font-family: "Georgia";
  font-size: 12px;
  font-weight: bold;
  border-radius: 10px;
  color: #303030;
  box-sizing: border-box;
  padding: 11px 11px;
  cursor: pointer;
}

.footer-rightholder {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #2b2b2b;
  color: #979797;
  font-family: "Georgia";
  font-size: 13px;
  font-weight: 400;
  line-height: 13px;
}
